.myclass1 {
  background-color: aqua;
}

.myclass2 {
  color: blue;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 3rem;
}

.openclose {
  display: none;
}
